body {
    font-family: 'Poppins', sans-serif;
    background-image: url("merle\ hb.jpeg"); /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

h1 {
    color: rgb(79, 84, 84);
    font-size: 150px;
    font-weight: 750;
    text-shadow: 3px 3px 5px black;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32vh;
}

    .back-link {
        display: inline-block; padding: 12px 25px;
        background: linear-gradient(135deg, #47862e, #319627); color: white;
        text-decoration: none; font-weight: bold; border-radius: 50px;
        transition: transform 0.2s, background 0.3s;
    }
    .back-link:hover {
        transform: scale(1.05);
        background: linear-gradient(135deg, #1f641a, #04340e);
    }


@media (max-width:910px) {
    h1 {
        font-size: 100px;
    }
}

@media (max-width:610px) {
    h1 {
        font-size: 80px;
    }
}

@media (max-width:500px) {
    h1 {
        font-size: 48px;
    }
}

.colorful-text span:nth-child(1) {
    color: red;
}
.colorful-text span:nth-child(2) {
    color: yellow;
}
.colorful-text span:nth-child(3) {
    color: red;
}

.swedish-text span:nth-child(1) {
    color: blue;
}
.swedish-text span:nth-child(2) {
    color: yellow;
}
.swedish-text span:nth-child(3) {
    color: blue;
}

.english-text span:nth-child(1) {
    color: red;
}
.english-text span:nth-child(2) {
    color: white;
}
.english-text span:nth-child(3) {
    color: blue;
}

.swedish-text {
    display: flex;  /* Asegura que los spans estén en línea */
}

.swedish-text span:nth-child(1) {
    margin-right: 10px; /* Espacio solo entre el primer y segundo span */
}

.swedish-text span:nth-child(2),
.swedish-text span:nth-child(3) {
    margin-right: 0; /* Elimina el espacio entre el segundo y tercero */
}